# Local Terraform files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# .terraform directory
.terraform/

# Terraform plan files
*.plan

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraform.lock.hcl

# Ignore sensitive files with credentials
secrets.tfvars
